---
layout: default
title: Arquivo
permalink: /arquivo/
---
{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}

    <div class="row">

      <div class="column one-half blog-teaser">
        <article class="post entry" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

          <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
          <p>{{ post.content }}</p>
          <p class="entry-meta">
            <time class="entry-time" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          </p>

        </article>
      </div>

  {% else %}

      <div class="column one-half blog-teaser">
        <article class="post entry" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

          <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
          <p>{{ post.content }}</p>
          <p class="entry-meta">
            <time class="entry-time" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          </p>

        </article>
      </div>

    </div>

  {% endif %}
{% endfor %}
