---
layout: default
---

<div>

    {{ content }}

    <h2>Diagramas traduzidos de: <a href="https://www.awsgeek.com/">@awsgeek</a></h2>
    <h3>Licença: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">CC BY-SA 4.0</a>
        </h2>
    </h3>

    <div>&nbsp;</div>

    <ul class="post-list">
        {% assign ordered_diagramas = site.diagramas | sort:"date" | reverse %}
        {% for post in ordered_diagramas %}
        {% if post.tag == "diagrama" %}
        <center>
            <hr>
            <li>


                <h2>
                    <a class="post-link" href="{{ '/assets/diagramas/' | append: post.link | absolute_url }}"
                        title="{{ post.title }}">{{ post.title | escape }}</a>
                </h2>

                <a class="post-link" href="{{ '/assets/diagramas/' | append: post.link | absolute_url }}"
                    title="{{ post.title }}"><img src="{{ '/assets/diagramas/' | append: post.link | absolute_url }}"
                        width="320" height="240"></a>
                {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>


            </li>
            <br>
        </center>
        {% endif %}
        {% endfor %}
    </ul>

</div>