---
layout: default
title: HeroBuzz Newsletter
description: Newsletter semanal com atualizações sobre cloud, conteúdo dev, entre outras coisinhas. 100% em português.
permalink: /
---

<section class="intro">
  <div class="wrap">
    <h1>HeroBuzz Newsletter</h1>
    <h3>Newsletter semanal com atualizações sobre AWS, computação em nuvem, conteúdo da comunidade, entre outras coisas.</h3>
    <h3>100% em português.</h3>
  </div>
</section>

<section class="email-optin">
  <div class="wrap">

    <p>
      <span class="arrow">→ </span>Cloud, Dev e etc.
      <br/> 
      <span class="arrow">→ </span>Não enviamos Spam.
      <br/> 
      <span class="arrow">→ </span> Não compartilhamos o seu e-mail.
      <br/>
      <span class="arrow">→ </span> <a href="{{ site.url }}/spam/">Nossa política de Spam!</a>
    </p>
    
    <div class="box">

      <script async data-uid="7821f8ecf0" src="https://deft-painter-1962.ck.page/7821f8ecf0/index.js"></script>

    </div>

  </div>
</section>
